{
	"extends": "eslint:recommended",
	"env": {
		"node": true,
		"jest": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": "latest"
	},
	"rules": {
        "semi": ["error", "always"],
		"prefer-const": "error",
		"comma-dangle": "error"
	}
}