{
    "token": "REPLACE-ME",
    "defaultPrefix": ".",
    "theme": {
        "colour": "#FFFFFF",
        "iconProvider": ""
    },
    "mysql": {
        "enabled": false,
        "connectionLimit" : 10,
        "host": "localhost",
        "port": 3306,
        "user": "root",
        "password": "",
        "database": "dicebot"
    }
}